* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  overflow: hidden;
}

.image-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 40px;
}

.image-box img {
  max-width: 100%;
  width: 350px;
}

.form-box {
  flex: 1;
  padding: 40px;
}

.login-form h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #222;
}

.login-form input {
  margin-bottom: 20px;
  padding: 12px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-container input {
    margin-right: 10px;
    margin-top: 20px;
}

.login-form button {
  background: #57b846;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.login-form button:hover {
  background: #45a03f;
}

.extra-link {
  margin-top: 20px;
  text-align: center;
}

.extra-link a {
  color: #333;
  font-size: 14px;
  text-decoration: underline;
}

.social-login {
  text-align: center;
  margin-top: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.social-icons .fb { background: #3b5998; }
.social-icons .twitter { background: #55acee; }
.social-icons .google { background: #dd4b39; }
